serviceConsultaReniec/src/main/webapp/WEB-INF/schemas/reniec.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.springsource.com/reniec"
		elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:reniec="http://www.springsource.com/reniec">

	<element name="dniRequest">
		<complexType>
			<sequence>
				<element name="dni" type="reniec:DniType"></element>
			</sequence>
		</complexType>
	</element>

	<complexType name="DniType">
		<attribute name="dni" type="string"/>
	</complexType>

	<element name="dniResponse" type="reniec:respuesta">

	</element>




	<simpleType name="respuesta">
		<restriction base="string"></restriction>
	</simpleType>
</schema>